<div class="main_formulario">
    <form class="formulario">
        <h1 class="formulario_head">Registrate</h1>
        <br>
        <div class="formulario_inputs">
            <input type="text" id="" placeholder='Nombre'>
            <input type="text" id="" placeholder='Apellidos'>
            <input type="email" id="" placeholder='Correo'>
            <input type="password" id="" placeholder='Contraseña'>
        </div>
        <div class="formulario_buttons">
            <input class="boton" onclick="" type="reset" value="Registrarse">
        </div>

    </form>
</div>