.main_formulario{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    height: 535px;
    
}

.formulario {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    border: 1px solid var(--secondaryColor);
    border-radius: 3px;
    padding: 30px 30px 30px 30px;
}

.formulario_inputs{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap:20px;
}

.formulario_buttons{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}



