
    <!-- <form class="formulario">
        <h1 class="formulario_head">Registrate</h1>
        <hr>
        <div class="formulario_inputs">
            <input type="text" id="" placeholder='Nombre'>
            <input type="text" id="" placeholder='Apellidos'>
            <input type="email" id="" placeholder='Correo'>
            <input type="password" id="" placeholder='Contraseña'>
        </div>
        <div class="formulario_buttons">
            <input class="boton" onclick="" type="reset" value="Registrarse">
        </div>

    </form> -->

    <form class="formulario">
        <h1 class="formulario_head">Registro</h1>
        <hr>
        <div class="formulario_inputs">
            <input type="number" placeholder='ID Usuario' #inputIdUsuario>
            <input type="text" placeholder='Nombre' #inputNombre> 
            <input type="text"  placeholder='Apellidos'#inputApellidos>
            <input type="email"  placeholder='Correo'#inputCorreo>
            <input type="text"  placeholder='foto' #inputFoto>
        </div>
        <div class="formulario_buttons">
            <button class="boton" type="reset" on-click="registrarse(inputIdUsuario,inputNombre,inputApellidos,inputCorreo,inputFoto)">Registrarse</button>
        </div>
    </form>
