<!--  -->
<div class="main_libros">
    <div class="form_addBooks_search">
        <h2>Buscar/Eliminar libros:</h2>
        <br>
        
        <input type="number" placeholder="ID Libro" #inputIds_libro />
        <input type="number" placeholder="ID Usuario" #inputIds_user />
        <div class="AB_buttons">
            <button type="reset" on-click=getOne(inputIds_libro,inputIds_user)>Mostrar Uno</button> 
            <button type="reset" on-click=getAll(inputIds_libro)>Mostrar Todos</button> 
            <button type="reset" on-click=delete(inputIds_libro)>Eliminar</button> 
        </div>
    </div>

<div class="form_addBooks">

    <h2>Añadir Libros:</h2>
    <br>
    <div><input type="number" placeholder="ID Libro" #inputId_libro /></div><br>
    <div><input type="number" placeholder="ID Usuario" #inputId_usuario /></div><br>
    <div><input type="text" placeholder="Titulo" #inputTitulo /></div><br>
    <div><input type="text"  placeholder="Autor" #inputAutor /></div><br>
    <div><input type="number" placeholder="Precio" #inputPrecio /></div><br>
    <div><input type="text" placeholder="Foto" #inputPhoto /></div>

    <div class="AB_buttons">
        <button type="reset" on-click=add(inputId_libro,inputId_usuario,inputTitulo,inputAutor,inputPrecio,inputPhoto)>Agregar</button>
    </div>
</div>


<div class="allcards">
   
    <ng-container *ngFor="let librito of libros; let i = index">
    <div class="card">
        <img src="{{librito.photo}}"/><br><br>
        <h5>ID Libro: {{librito.id_libro}}
        ID Usuario: {{librito.id_usuario}}</h5>
        <br>
        <h4>Titulo:</h4> {{librito.titulo}} <br>
        <h4>Autor:</h4>{{librito.autor}} <br>
        <h4>Precio:</h4>{{librito.precio}} euros
        <div class="closedbutton" >
            <!-- <button on-click=delete(inputId_libro)>X</button> -->
        </div>
    </div>
    
</ng-container>
</div>

<div class="mensajeNoHay"*ngIf="libros.length===0">
    <h2>No hay libros disponibles.</h2>
</div>
</div>