<!-- <div>
    <h2>LIBROS</h2>
    <ul>
        <li *ngFor="let librito of libros">
            Titulo: {{librito.titulo}}  Autor: {{librito.autor}}
        </li>
    </ul>
</div>
{{libros[0].titulo}} -->

<!-- <div *ngIf="libros.length<2; else esFalso">
   Hay menos de 2
</div>
<ng-template #esFalso>
    Hay igual o mas de 2
</ng-template> -->
<div class="main_libros">
    <div class="form_addBooks_search">
        <input type="number" placeholder="Busca por ID Libro" #inputIds_libro />
        <div class="AB_buttons">
            <button on-click=getOne(inputIds_libro)>Buscar</button> 
        </div>
    </div>

<div class="form_addBooks">

    <h2>Añadir Libros:</h2>
    <br>
    <div><input type="number" placeholder="ID Libro" #inputId_libro /></div><br>
    <div><input type="number" placeholder="ID Usuario" #inputId_usuario /></div><br>
    <div><input type="text" placeholder="Titulo" #inputTitulo /></div><br>
    <div><input type="text"  placeholder="Autor" #inputAutor /></div><br>
    <div><input type="number" placeholder="Precio" #inputPrecio /></div><br>
    <div><input type="text" placeholder="Foto" #inputPhoto /></div>

    <div class="AB_buttons">
        <button on-click=add(inputId_libro,inputId_usuario,inputTitulo,inputAutor,inputPrecio,inputPhoto)>Añadir</button>
    </div>
</div>


<div class="allcards">
   
    <ng-container *ngFor="let librito of libros; let i = index">
    <div class="card">
        <img src="{{librito.photo}}"/><br><br>
        <h5>ID Libro: {{librito.id_libro}}
        ID Usuario: {{librito.id_usuario}}</h5>
        <br>
        <h4>Titulo:</h4> {{librito.titulo}} <br>
        <h4>Autor:</h4>{{librito.autor}} <br>
        <h4>Precio:</h4>{{librito.precio}} euros
        <div class="closedbutton" >
            <button on-click=delete(inputId_libro)>X</button>
        </div>
    </div>
    
</ng-container>
</div>

<div class="mensajeNoHay"*ngIf="libros.length===0">
    <h2>No hay libros disponibles.</h2>
</div>
</div>