.main{

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 100%;
    min-height: 80vh;

    padding: 20px 20px 20px 20px;
    gap:20px;
}
