/* You can add global styles to this file, and also import other style files */

:root {

    --primaryColor: rgb(53, 176, 163);
    --secondaryColor: rgb(68, 68, 68);
    --transparentBlack: rgba(0, 47, 28, 0.301);
    --fontColorB: black;
    --fontColorW: white;
    --fontStyle: sans-serif;

    
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: var(--fontStyle);
}